{% extends './layout.html' %} {% block title %}{{ sitetitle }}{% endblock %} {%
block body %}
<div class="container d-flex align-items-center" style="max-width: fit-content; min-height: calc(100% - 99.9833px);">
<div class="container">
  <h1 class="text-bg-dark m-0 ps-2 pe-2 text-center rounded-top-4" style="font-size: 5em; box-shadow: 0px -10px 100px cornflowerblue; text-shadow: cornflowerblue 1px 0 10px;">Hextch Deckers</h1>
  <h1 class="text-bg-light m-0 p-2 text-center rounded-bottom-4" style="font-size: 1.5em; box-shadow: 0px 10px 100px cornflowerblue;">If you're in need of a place to live, we can take care of it for you!</h1>
</div>

</div>
{% endblock %}
